body
{
    background-color: rgb(238, 247, 247);
    
    font-family: 'comfortaa';
}
.logic-card
{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5) ;
    border-radius: 5px;
}
#Loginbutton 
{
    background-image: linear-gradient(to right,rgb(139,92,246),rgb(14,165,233));
    color: rgb(247,255,250);
}
#Loginbutton:hover 
{
    background-image: linear-gradient(to right,rgb(108, 57, 226),rgb(14,165,233));
    color: rgb(207, 228, 214);
}
#loginForm {
     width: 920px;      /* increase this */
    max-width: 100%;
}