body
{
    background-color: rgb(207, 246, 246);
    
    font-family: 'comfortaa';
}
.logic-card
{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5) ;
    border-radius: 5px;
}
#Loginbutton 
{
    background-image: linear-gradient(to right,rgb(124, 74, 242),rgb(14,165,233));
    color: rgb(247,255,250);
}
#Loginbutton:hover {
     background-image: linear-gradient(to right,rgb(72, 40, 145),rgb(20, 92, 125));
    color: rgb(214, 237, 222);
}